.testBox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  font-size: 60px;
  display: flex;
  justify-content: center;
}
.test li {
  margin: 0 30px;
  position: relative;
}
.test li .num {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
}
.test svg {
  stroke: #f00;
  width: 300px;
  height: 300px;
  fill: transparent;
  transform: rotate(-90deg);
}
.test svg circle {
  stroke-width: 20px;
  stroke-linecap: round;
}