.testBox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test {
  font-size: 60px;
  display: flex;
  justify-content: center;
  li {
    margin: 0 30px;
    position: relative;
    .num {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: 300;
    }
    &:nth-child(1) svg {
      stroke: #f00;
    }
    &:nth-child(2) svg {
      stroke: rgb(0, 114, 207);
    }
    &:nth-child(3) svg {
      stroke: rgb(211, 144, 0);
    }
  }
  svg {
    //stroke: #f00;
    width: 300px;
    height: 300px;
    fill: transparent;
    transform: rotate(-90deg);
    position: relative;
    circle {
      stroke-width: 20px;
      stroke-linecap: round;
    }
  }
  .bg {
    position: absolute;
    stroke: rgb(218, 218, 218) !important;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.testBox02 {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  svg {
    stroke: #f00;
    path {
      width: 400px;
      stroke-width: 0.25px;
      fill: transparent;
    }
  }
}
